<p id="notice"><%= notice %></p>
<%= render 'shared/nav' %>

<p> Logged in as: <%= @user.name %> </p>

<h4>
  <strong>Title:</strong>
  <%= @blog.title %>
</h4>

<h4>
  <strong>Body:</strong>
  <br>
  <%= @blog.body %>
</h4>

<!-- <%= link_to 'Home', @blog.user %> -->

<hr>

<h4>
  Comments
</h4>


<%= render 'shared/comments', obj: @blog.comments %>

<br>

<h4> New Comment </h4>
<%= form_with(model: @comment, local: true) do |form| %>
  <div class="field">
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

