<!DOCTYPE html>
<html>
  <head>
    <title>TuqDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Blogs Mania : Tuq Challenge </h1>
    <%= yield %>
  </body>

  <br>
  <br>
  <footer>
    <p> Created By Minhal Shanjer for Tuq. Job position: Backend Developer <p>
  </footer>
</html>
